html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}

html{
	height: 100%;
}

body{
	height: 100%;
	background-color: #fff;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1em;
}

ol, ul{
	list-style: none;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover{
	text-decoration: none;
}

/*clear-float*/
.clear:before,
.clear:after{
	content: "";
	display: table;
}

.clear:after{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

#wrapper{
	width: 100%;
}

.container{
	width: 540px;
	margin: 0 auto;
}

/*header*/
#header{
	left: 0;
	right: 0;
	width: 100%;
	position: relative;
}

.header-menu{
	height: 33px;
	background-color: #eee;
}

.logo{
	float: left;
	margin: 0 0.3125em;
}

.logo img{
	width: 1em;
	padding-top: 8px;
}

.nav li{
	margin-right: 2em;
	padding-top: 5px;
}

.nav li:first-child{
	margin-right: 0;
}

.nav a{
	color: #505050;
	font-size: 14px;
	font-weight: 300;
}

#wrap-main{
	width: 100%;
	top: 50%;
	margin-top: -173px;
	position: absolute;
}

/*image*/
.img-contact{
	text-align: center;
}

.img-contact img{
	padding-bottom: 2em;
	position: relative;
}

/*description*/
#descr{
	position: relative;
}

#descr p{
	text-align: center;
	color: #000;
	font-size: 15px;
	line-height: 1.5em;
	display: block;
}

/*footer*/
#footer{
	width: 100%;
	position: absolute;
	bottom: 30px;
	height: 40px;
}

.social-icons{
	width: 100%;
}

.facebook, .youtube, .behance{
	width: 2.5em;
	height: 2.5em;
	background-color: black;
}

.link a{
	width: 2.5em;
	height: 2.5em;
	opacity: 0;
}

.link:hover .social-hover{
	opacity: 0.6;	
}

/*resolution-screen: width: 736px */
@media screen and (max-width: 736px){ 
.container{
	width: 96%;
}

#wrap-main{
	margin-top: -145px;
}

.img-contact img{
	padding-bottom: 0.5em;
	width: 36%;
}

#descr p{
	font-size: 11px;
}

#footer{
	bottom: 5px;
}
}

/*resolution-screen: width: 667px */
@media screen and (max-width: 667px){ 
#wrap-main{
	margin-top: -135px;
}

.img-contact img{
	width: 36%;
}
}

/*resolution-screen: width: 568px */
@media screen and (max-width: 568px){ 
#wrap-main{
	margin-top: -115px;
}
}

/*resolution-screen: width: 480px */
@media screen and (max-width: 480px){ 
#wrap-main{
	margin-top: -110px;
}
}

/*resolution-screen: width: 414px */
@media screen and (max-width: 414px){ 
#wrap-main{
	margin-top: -170px;
}

.img-contact img{
	width: 70%;
}	
}

/*resolution-screen: width: 375px */
@media screen and (max-width: 375px){ 
#wrap-main{
	margin-top: -160px;
}
}

/*resolution-screen: width: 320px */
@media screen and (max-width: 320px){ 
#wrap-main{
	margin-top: -141px;
}
}	
	
	